<wm-page data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-composite name="composite1">
                <wm-label class="col-md-3" name="label1"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-buttongroup name="buttongroup1">
                <wm-button class="btn-default" caption="left" name="button1"></wm-button>
                <wm-button class="btn-default" caption="center" name="button2"></wm-button>
                <wm-button class="btn-default" caption="right" name="button3"></wm-button>
            </wm-buttongroup>
            <wm-composite name="composite2">
                <wm-label class="col-md-3" name="label2"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-text name="text2"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite3">
                <wm-label class="col-md-3" name="label3"></wm-label>
                <wm-container class="col-md-9" name="container3">
                    <wm-select name="select1"></wm-select>
                </wm-container>
            </wm-composite>
            <wm-list name="list1"></wm-list>
            <wm-accordion name="accordion1">
                <wm-accordionpane name="accordionpane1">
                    <wm-accordionheader name="accordionheader1"></wm-accordionheader>
                    <wm-accordioncontent name="accordioncontent1"></wm-accordioncontent>
                </wm-accordionpane>
            </wm-accordion>
        </wm-page-content>
    </wm-content>
</wm-page>